html,
body {
  margin: auto;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f9fa;
}

h1 {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 73px;
}

h1.call-to-action {
  color: #ffffff;
  font-size: 96px;
  font-weight: 500;
  line-height: 105px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  margin: 1rem;
}

h5 {
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #475569;
  margin: 0;
}

.main {
  width: 100%;
}

p {
  margin: 0;
  color: #64748b;
}

p.first-section-subtitle {
  width: 416px;
  margin: 0;
  color: #ffffff;
}

p.phone-number {
  color: black;
}

p.newsletter-text {
  color: #94A3B8;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #94a3b8;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  border-left: none;
  border-right: none;
  width: 100%;
  margin: 65px 0 65px 0;
}

hr.footer-hr {
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  border-left: none;
  border-right: none;
  width: 100%;
  margin: 0;
}

ul li {
  font-family: 'Poppins', sans-serif;
  color: #94A3B8;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: transform 0.3s ease, color 0.3s ease;
}

ul li:last-child {
  margin-bottom: 0;
  transition: transform 0.3s ease, color 0.3s ease;
}

ul li:hover {
  transform: scale(1.1);
  color:dimgray;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 4px;
}

p.alternate {
  color: #ffffff;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  max-width: 416px;
}

h2.alternate {
  color: #ffffff;
}

h3 {
  color: #6729ff;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  margin: 0;
}

h3.alternate {
  color: #ffffff;
}

h4 {
  color: #6729ff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

button {
  background-color: #6729ff;
  color: #ffffff;
  min-width: 176px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: darkslateblue;
}

footer {
  background-color: #ffffff;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

input {
  border-radius: 8px;
  border: #94a3b8 1px solid;
  padding: 4px 4px 4px 12px;
  height: 40px;
  width: 100%;
  margin-top: 4px;
  position: relative;
  color: #94a3b8;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

input::placeholder {
  font-family: 'Poppins', sans-serif;
  color: #94A3B8;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

label {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #64748b;
  margin-bottom: 8px;
}

textarea {
  border-radius: 8px;
  border: #94a3b8 1px solid;
  padding: 4px 4px 4px 12px;
  height: 120px;
  width: 100%;
  margin-top: 4px;
  color: #94A3B8;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

textarea::placeholder {
  color: #94A3B8;
}

.first-section {
  display: flex;
  gap: 16px;
  flex-direction: column;
  background-color: #6729ff;
  color: #ffffff;
  display: flex;
  margin-top: 4.5rem;
  padding: 64px 384px 64px 112px;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #ffffff;
  padding: 64px 216px 64px 216px;
}

.second-section-row {
  display: flex;
  justify-content: space-between;
  gap: 179px;
  width: 100%;
  padding: 0 104px 0 104px;
}

.second-section-last-row {
  display: flex;
  justify-content: space-between;
  gap: 97px;
  width: 100%;
  padding: 0 104px 0 104px;
  position: relative
}

.second-section-last-row-left {
  display: flex;
  flex-direction: column;
  width: 318px;
  gap: 12px;
  background-color: #ffffff;
  color: #64748b;
}

.second-section-row-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #ffffff;
  color: #64748b;
}

.second-section-row-left-top {
  display: flex;
  gap: 24px;
  align-items: center;
  background-color: #ffffff;
}

.second-section-row-right {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #64748b;
}

.second-section-row-right-line {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.icon {
  width: 24px;
  height: 24px;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: fit-content;
  gap: 2rem;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  border-width: 1px;
  height: 72px;
  align-items: center;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
  padding-right: 64px;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 2px;
  font-family: "Poppins", sans-serif;  padding: 12px 32px 12px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
  cursor: pointer;
  transition: color 0.3s ease;
}

.register:hover {
  color: dimgray;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu:hover {
  color: dimgray;
}


.logo, .logo-footer {
  color: #6729ff;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  color:darkslateblue;
}

.buttons {
  display: flex;
  gap: 8px;
}

.register-btn {
  background-color: #6729ff;
  color: #ffffff;
  min-width: 176px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.form {
  width: 593px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-row {
  display: flex;
  gap: 31px;
  width: 100%;
}

.form-button {
  background-color: #6729ff;
  color: #ffffff;
  height: 40px;
  width: fit-content;
  float: right;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  margin-top: 24px;
  padding: 8px 16px 8px 16px;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: darkslateblue;
}

.footer-menu-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 6rem;
  padding: 3.5rem 5rem;
}

h4.footer-menu-title {
  font-size: 16px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  color: #64748b;
  line-height: 20px;
  margin-bottom: 16px;
}

ul.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.send-email-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #6729ff;
  margin: auto;
  position: absolute;
  right: 0;
  top: 23%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-email-icon-container:hover {
  background-color: darkslateblue;
}

.send-email-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.send-email-container {
  position: relative;
  width: 100%;
  max-width: 280px;
}

.footer-menu-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
}

.last-footer-menu-column {
  width: 280px;
}

.social-media-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  transition: transform 0.3s ease;
}

.social-media-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.social-media-icon:hover {
  transform: scale(1.2);
}

.last-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem 1.5rem 5rem;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

p.small-text {
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 18px;
  color: #94a3b8;
}

.fifth-section {
  width: 100%;
  position: relative;
}

.banner-img {
  width: 100%;
  height: auto;
}

.banner-items {
  position: absolute;
  width: fit-content;
  bottom: 15%;
  left: 25%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-msg {
  color: red;
  font-size: small;
}

.success-msg {
  background-color: greenyellow;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 6.5%;
  bottom: 12%;
  padding: 8px;
  animation: pulse 2s infinite, fade 5s forwards;
  opacity: 1;
}

.mobile-menu-btn {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  body {
    flex-direction: column;
    width: 100%;
    max-width: 480px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  h1 {
    font-size: 45px;
    line-height: normal;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 35px;
  }

  h4, a, p {
    font-size: 25px;
  }

  input {
    width: none;
    font-size: 20px;
  }

  input::placeholder {
    font-size: 20px;
  }

  textarea {
    font-size: 20px;
  }

  textarea::placeholder {
    font-size: 20px;
  }

  label {
    font-size: 25px;
  }

  .header {
    height: 4rem;
    position: relative;
  }

  .logo {
    width: 20px;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .logo-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
  }

  .mobile-menu-btn {
    display: flex;
    width: 40px;
    height: 40px;
    z-index: 9;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    top: 5rem;
    right: 2rem;
    width: 100%;
    height: 100vh;
    gap: 2rem;
  }

  .buttons {
    position: absolute;
    left: 35%;
    top: 2rem;
    bottom: 0;
    width: fit-content;
  }

  .register {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 18px;
    font-size: 25px;
    padding: 0;
  }

  .buttons {
    display: none;
    position: absolute;
    left: 1rem;
    top: 12rem;
    bottom: 0;
    width: fit-content;
  }

  /* first section */

  .first-section {
    height: fit-content;
    padding: 2rem;
    margin: 0;
  }

  p.first-section-subtitle {
    width: 100%;
    margin: 2rem 0 2rem 0;
    color: #ffffff;
  }

  /* second section */

  .second-section {
    padding: 2rem;
    flex-direction: column-reverse;
  }

  .second-section-row {
    flex-direction: column;
    gap: 2rem;
    padding: 0;;
  }



  .second-section-row-right {
    gap: 2rem;
  }

  .second-section-row-right-line {
    flex-direction: column;
  }

  .phone-locality {
    text-align: center;
  }

  .social-media-container {
    justify-content: space-between;
  }

  .second-section-last-row {
    flex-direction: column;
    padding: 0;
    gap: 2rem;
  }

  .form{
    width: 100%;
  }

  .form-row {
    flex-direction: column;
  }

  input::placeholder {
    font-size: 20px;
  }

  .success-msg {
    right: 0;
    bottom: 8%;
    width: 100%;
  }

  /* third section */

  h1.call-to-action {
    font-size: 35px;
    line-height: normal;
    text-shadow: black 0px 12px 8px;
    margin-bottom: 6px;
  }

  /* footer */

  .footer-menu-container {
    flex-direction: column;
    gap: 4rem;
    margin: 1rem 0 1rem 0;
    height: fit-content;
  }

  .last-footer-menu-column {
    width: 100%;
  }

  h4.footer-menu-title {
    font-size: 35px;
    margin-bottom: 4rem;
  }

  .send-email-container {
    margin: 3rem 0 3rem 0;
    max-width: none;
  }

  .social-media-icon {
    width: 50px;
    height: 50px;
  }

  .last-footer-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem 2rem 1rem;
    gap: 2rem;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  p.small-text {
    font-size: 20px;
  }

  /* errors */

  .error-msg {
    font-size: large;
  }
}