html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
}

h1 {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 73px;
}

h1.call-to-action {
  color: #ffffff;
  font-size: 96px;
  font-weight: 500;
  line-height: 105px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  margin: 1rem;
}

h5 {
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #475569;
  margin: 0;
}

.main {
  width: 100%;
}

p {
  margin: 0;
  color: #64748b;
}

p.first-section-subtitle {
  width: 416px;
  margin: 0;
  color: #ffffff;
}

p.phone-number {
  color: black;
}

a {
  text-decoration: none;
  color: #94a3b8;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  border-left: none;
  border-right: none;
  width: 100%;
  margin: 65px 0 65px 0;
}

hr.footer-hr {
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  border-left: none;
  border-right: none;
  width: 100%;
  margin: 0;
}

ul li {
  font-family: "Poppins", sans-serif;
  color: #94a3b8;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

ul li:last-child {
  margin-bottom: 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 4px;
}

p.alternate {
  color: #ffffff;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  max-width: 416px;
}

h2.alternate {
  color: #ffffff;
}

h3 {
  color: #6729ff;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  margin: 0;
}

h3.alternate {
  color: #ffffff;
}

h4 {
  color: #6729ff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

button {
  background-color: #6729ff;
  color: #ffffff;
  min-width: 176px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: auto;
  cursor: pointer;
}

footer {
  background-color: #ffffff;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

input {
  border-radius: 8px;
  border: #94a3b8 1px solid;
  padding: 4px 4px 4px 12px;
  height: 40px;
  width: 100%;
  margin-top: 4px;
  color: #94a3b8;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

label {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #64748b;
  margin-bottom: 8px;
}

textarea {
  border-radius: 8px;
  border: #94a3b8 1px solid;
  padding: 4px 4px 4px 12px;
  height: 120px;
  width: 100%;
  margin-top: 4px;
  color: #94a3b8;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.first-section {
  display: flex;
  gap: 16px;
  flex-direction: column;
  background-color: #6729ff;
  color: #ffffff;
  display: flex;
  margin-top: 4.5rem;
  padding: 64px 384px 64px 112px;
}

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #ffffff;
  padding: 64px 216px 64px 216px;
}

.second-section-row {
  display: flex;
  justify-content: space-between;
  gap: 179px;
  width: 100%;
  padding: 0 104px 0 104px;
}

.second-section-last-row {
  display: flex;
  justify-content: space-between;
  gap: 97px;
  width: 100%;
  padding: 0 104px 0 104px;
}

.second-section-last-row-left {
  display: flex;
  flex-direction: column;
  width: 318px;
  gap: 12px;
  background-color: #ffffff;
  color: #64748b;
}

.second-section-row-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #ffffff;
  color: #64748b;
}

.second-section-row-left-top {
  display: flex;
  gap: 24px;
  align-items: center;
  background-color: #ffffff;
}

.second-section-row-right {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #64748b;
}

.second-section-row-right-line {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.icon {
  width: 24px;
  height: 24px;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: fit-content;
  gap: 2rem;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  border-width: 1px;
  height: 72px;
  align-items: center;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
  padding-right: 64px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
  cursor: pointer;
}

.logo {
  color: #6729ff;
  width: 100px;
  height: 24px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: inline;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 8px;
}

.register-btn {
  background-color: #6729ff;
  color: #ffffff;
  min-width: 176px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.form {
  width: 593px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-row {
  display: flex;
  gap: 31px;
  width: 100%;
}

.form-button {
  background-color: #6729ff;
  color: #ffffff;
  height: 40px;
  width: fit-content;
  float: right;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  margin-top: 24px;
  padding: 8px 16px 8px 16px;
}

.footer-menu-container {
  display: flex;
  justify-content: space-between;
  height: 156px;
  margin: auto;
  margin-bottom: 6rem;
  padding: 3.5rem 5rem;
}

h4.footer-menu-title {
  font-size: 16px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  color: #64748b;
  line-height: 20px;
  margin-bottom: 16px;
}

ul.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.send-email-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #6729ff;
  margin: auto;
  position: absolute;
  right: 0;
  top: 20%;
}

.send-email-icon {
  width: 16px;
  height: 16px;
}

.send-email-container {
  position: relative;
  width: 100%;
  max-width: 280px;
}

.footer-menu-column {
  width: 156px;
}

.last-footer-menu-column {
  width: 280px;
}

.social-media-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.social-media-icon {
  width: 24px;
  height: 24px;
}

.last-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem 1.5rem 5rem;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

p.small-text {
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 18px;
  color: #94a3b8;
}

.fifth-section {
  width: 100%;
  position: relative;
}

.banner-img {
  width: 100%;
  height: auto;
}

.banner-items {
  position: absolute;
  width: fit-content;
  bottom: 15%;
  left: 25%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-msg {
  color: red;
  font-size: small;
}
