html,
body {
  margin: auto;
  padding: 0;
  max-width: 1366px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h1.call-to-action {
  color: #ffffff;
  font-size: 96px;
  font-weight: 500;
  line-height: 105px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  margin: 1rem;
}

.main {
  width: 100%;
}

a {
  text-decoration: none;
  color: #94a3b8;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  border-left: none;
  border-right: none;
  width: 100%;
}

ul li {
  font-family: "Poppins", sans-serif;
  color: #94a3b8;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: transform 0.3s ease, color 0.3s ease;
}

ul li:last-child {
  margin-bottom: 0;
  transition: transform 0.3s ease, color 0.3s ease;
}

ul li:hover {
  transform: scale(1.1);
  color: dimgray;
}

p {
  font-family: "Poppins", sans-serif;
  color: #64748b;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 4px;
}
p.alternate {
  color: #ffffff;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  max-width: 416px;
}

h2.alternate {
  color: #ffffff;
}

h3 {
  color: #6729ff;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  margin: 0;
}

h3.alternate {
  color: #ffffff;
}

h4 {
  color: #6729ff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

button {
  background-color: #6729ff;
  color: #ffffff;
  min-width: 176px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: darkslateblue;
}

footer {
  background-color: #ffffff;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

input {
  border-radius: 8px;
  border: #94a3b8 1px solid;
  padding: 4px 4px 4px 12px;
  height: 40px;
  width: 100%;
  margin-top: 4px;
  position: relative;
  color: #94a3b8;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  color: #94a3b8;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: fit-content;
  gap: 2rem;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  border-width: 1px;
  height: 72px;
  align-items: center;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
  padding-right: 64px;
}

.success-msg {
  background-color: greenyellow;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  position: absolute;
  right: 6%;
  bottom: 12%;
  padding: 8px;
  animation: pulse 2s infinite, fade 5s forwards;
  opacity: 1;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 2px;
  padding: 12px 32px 12px 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
  cursor: pointer;
  transition: color 0.3s ease;
}

.register:hover {
  color: dimgray;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logo-body {
  color: #6729ff;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  right: 1.5rem;
  top: 5.8rem
}

.menu:hover {
  color: dimgray;
}

.logo, .logo-footer {
  color: #6729ff;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  color: darkslateblue;
}

.buttons {
  display: flex;
  gap: 8px;
}

.register-btn {
  background-color: #6729ff;
  color: #ffffff;
  min-width: 176px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.first-section {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  margin-top: 4.5rem;
  border-bottom: #e2e8f0 1px solid;
}

.left-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 503px;
  margin: auto;
  gap: 16px;
}

.left-banner-title {
  color: #475569;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 73.6px;
}

.left-banner-text {
  color: #64748b;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.left-banner-btn-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin: 1.5rem 0 1.5rem 0;
}

.left-banner-btn {
  background-color: #eee5ff;
  color: #6729ff;
  min-width: 260px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.left-banner-btn:hover {
  background-color: dimgray;
  color: #ffffff;
}

.avatar-container {
  width: 100%;
  position: relative;
}

.avatar-container img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  border: #ffffff 3px solid;
}

.avatar-icon-01 {
  left: 0;
}

.avatar-icon-02 {
  left: 2rem;
}

.avatar-icon-03 {
  left: 4rem;
}

.avatar-icon-04 {
  left: 6rem;
}

.avatar-icon-05 {
  left: 8rem;
}

.avatar-icon-06 {
  left: 10rem;
  background-color: #eee5ff;
}

.clients-number {
  margin-top: 40px;
  width: 100%;
  display: flex;
  gap: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #94a3b8;
}

.right-banner {
  width: 52%;
  height: 698px;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #6729ff;
  position: relative;
}

.app-image {
  width: 390px;
  height: 610px;
}

.second-section {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1.5fr;
  justify-items: center;
  margin-top: 5rem;
}

.second-section-left-container {
  display: flex;
  position: relative;
  height: fit-content;
  gap: 8px;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.second-section-right-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.benefits-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.benefit-card-small {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 160px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 15px 20px 20px 20px;
}

.benefit-card-medium {
  display: flex;
  flex-direction: column;
  width: 382px;
  height: 160px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 15px 20px 20px 20px;
}

.benefit-card-large {
  display: flex;
  height: 160px;
  width: 745px;
  position: relative;
  overflow: hidden;
  border: 1px solid #e2e8f0;
  background-color: #f3f2ff;
  border-radius: 8px;
  padding: 15px 20px 20px 20px;
}

.last-card-left {
  width: 344px;
}

.last-card-right {
  padding: 30px 10px 0 10px;
}

.card-ornamental-left {
  width: 200px;
  height: 164px;
  position: absolute;
  top: 4rem;
  background-color: #ffffff;
  border-radius: 8px;
  z-index: 1;
  transform: rotate(5deg);
  overflow: hidden;
}

.card-ornamental-right {
  width: 200px;
  height: 164px;
  position: absolute;
  right: 1rem;
  background-color: #6729ff;
  border-radius: 8px;
  z-index: 2;
  transform: rotate(5deg);
}

.card-title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 48px;
}

.last-benefit-card {
  display: flex;
  flex-direction: column;
  width: 690px;
  justify-content: center;
  border-radius: 8px;
}

.card-icon-container {
  background-color: #eee5ff;
  display: flex;
  padding: 8px;
  border-radius: 8px;
}

.cash-balloon-container {
  position: absolute;
  top: 11rem;
  right: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #ffffff;
  height: fit-content;
  border-radius: 8px;
  z-index: 3;
  gap: 10px;
  padding: 4px;
  box-shadow: #67748a33 0px 12px 8px 0px;
}

.world-balloon-container {
  position: absolute;
  top: 25.5rem;
  left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #ffffff;
  height: fit-content;
  border-radius: 8px;
  z-index: 3;
  gap: 10px;
  padding: 4px;
  box-shadow: #67748a33 0px 12px 8px 0px;
}

.user-balloon-container {
  position: absolute;
  top: 34.5rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #ffffff;
  height: fit-content;
  border-radius: 8px;
  z-index: 3;
  gap: 10px;
  padding: 4px;
  box-shadow: #67748a33 0px 12px 8px 0px;
}

.balloon-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: #eee5ff;
}

.balloon-icon {
  width: 24px;
  height: 24px;
}

.third-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  gap: 5rem;
  align-items: center;
  padding: 7%;
}

p.third-section-text {
  margin-top: 16px;
  margin-bottom: 64px;
}

.third-section-left {
  display: grid;
  align-items: start;
  width: 100%;
  height: 100%;
  position: relative;
}

.third-section-right {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  margin-bottom: 3rem;
}

.phone-img-background {
  width: 100%;
  height: 280px;
  align-self: end;
  background-color: #e2e8f0;
  border-radius: 8px 8px 0 0;
  z-index: 2;
}

.phone-img-2 {
  position: absolute;
  width: 60%;
  left: 7.5rem;
  bottom: 0;
  z-index: 4;
  box-shadow: #67748a33 0px 12px 12px 0px;
}

.app-features-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.purple-icon {
  background-color: #6729ff;
  color: #e2e8f0;
}

.app-features-icon-container {
  background-color: #6729ff;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.app-features-icon {
  width: 32px;
  height: 32px;
}

.fourth-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #6729ff;
  height: 550px;
  position: relative;
}

.fourth-section-left {
  width: 485px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.black-card-img {
  position: absolute;
  width: 380px;
  bottom: 0;
  z-index: 2;
  box-shadow: #67748a33 0px 22px 22px 0px;
}

.purple-card-img {
  position: absolute;
  width: 380px;
  bottom: 0;
  right: 12%;
}

.fifth-section {
  width: 100%;
  position: relative;
}

.banner-img {
  width: 100%;
}

.banner-items {
  position: absolute;
  width: fit-content;
  bottom: 15%;
  left: 25%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-menu-container {
  display: flex;
  justify-content: space-between;
  height: 156px;
  margin: auto;
  margin-bottom: 6rem;
  padding: 3.5rem 5rem;
}

h4.footer-menu-title {
  font-size: 16px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  color: #64748b;
  line-height: 20px;
  margin-bottom: 16px;
}

ul.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.send-email-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #6729ff;
  margin: auto;
  position: absolute;
  right: 0;
  top: 23%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-email-icon-container:hover {
  background-color: darkslateblue;
}

.error-msg {
  color: red;
  font-size: small;
}

.send-email-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.send-email-container {
  position: relative;
  width: 100%;
  max-width: 280px;
}

.footer-menu-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
}

.last-footer-menu-column {
  width: 280px;
}

p.newsletter-text {
  color: #94a3b8;
  font-weight: 400;
}

.social-media-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  transition: transform 0.3s ease;
}

.social-media-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.last-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem 1.5rem 5rem;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

p.small-text {
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 18px;
  color: #94a3b8;
}

.mobile-menu-btn {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  body {
    flex-direction: column;
    width: 100%;
    max-width: 480px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  input {
    width: none;
    font-size: 20px;
  }

  input::placeholder {
    font-size: 20px;
  }

  textarea {
    font-size: 20px;
  }

  textarea::placeholder {
    font-size: 20px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 35px;
  }

  h4,
  a,
  p {
    font-size: 25px;
  }

  .header {
    height: 4rem;
    position: relative;
  }

  .logo {
    width: 20px;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .mobile-menu-btn {
    display: flex;
    width: 40px;
    height: 40px;
    z-index: 9;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    top: 5rem;
    right: 2rem;
    width: 100%;
    height: 100vh;
    gap: 2rem;
  }

  .buttons {
    position: absolute;
    left: 35%;
    top: 2rem;
    bottom: 0;
    width: fit-content;
  }

  .register {
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 18px;
    font-size: 25px;
    padding: 0;
  }

  .buttons {
    display: none;
    position: absolute;
    left: 1rem;
    top: 12rem;
    bottom: 0;
    width: fit-content;
  }

  .first-section {
    flex-direction: column;
    margin-top: 0;
  }

  .left-banner {
    width: 100%;
  }

  .banner-items {
    left: 17%;
    bottom: 10%;
  }

  .left-banner-title {
    font-size: 32px;
    text-align: center;
    margin: 2rem 1rem 1rem 1rem;
    line-height: normal;
  }

  .left-banner-text {
    font-size: 20px;
    text-align: center;
    margin: 1rem;
    line-height: normal;
  }

  .left-banner-btn-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .avatar-container {
    display: none;
  }

  .clients-number {
    display: none;
  }

  .right-banner {
    margin-top: 2rem;
    width: 100%;
  }

  .cash-balloon-container {
    right: 1rem;
  }

  .world-balloon-container {
    left: 1rem;
    right: 0;
    top: 24rem;
    width: fit-content;
  }

  .second-section {
    display: flex;
    width: 100%;
    gap: 5rem;
    flex-direction: column;
  }

  .second-section-left-container {
    width: 90%;
    margin: auto;
    gap: 2rem;
  }

  .second-section-right-container {
    flex-direction: column;
  }

  .benefits-container {
    flex-direction: column;
    gap: 2rem;
  }

  .benefit-card-medium {
    width: 382px;
    gap: 2rem;
  }

  .benefit-card-small {
    width: 382px;
    gap: 2rem;
  }

  .benefit-card-large {
    width: 382px;
    height: 100%;
    display: flex;
    background-color: #f3f2ff;
  }

  .last-card-right {
    display: none;
  }

  .last-card-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .third-section {
    margin: 10rem 0 2rem 0;
    display: flex;
    flex-direction: column;
  }

  .phone-img-2 {
    left: 5rem;
  }

  .third-section-right {
    gap: 1rem;
  }

  .app-features-container {
    flex-direction: column;
    align-items: center;
  }

  .app-features-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .fourth-section {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
  }

  .fourth-section-left {
    width: 100%;
    gap: 1rem;
  }

  h3.alternate {
    text-align: center;
    margin: 1rem 0 2rem 0;
  }

  h2.alternate {
    text-align: center;
    margin: 1rem 1rem 2rem 1rem;
    max-width: fit-content;
    font-weight: 300;
    line-height: 40px;
  }

  p.alternate {
    text-align: center;
    font-size: 25px;
  }

  .stores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0 2rem 0;
  }
  .app-stores-btn {
    width: 300px;
  }

  .fourth-section-right {
    width: 100%;
    height: 400px;
  }

  .black-card-img {
    position: absolute;
    width: 300px;
    left: 5%;
    bottom: 0;
    z-index: 2;
  }

  .purple-card-img {
    position: absolute;
    width: 300px;
    bottom: 0;
    right: 5%;
  }

  h1.call-to-action {
    font-size: 45px;
    line-height: normal;
    text-shadow: black 0px 12px 8px;
    margin-bottom: 6px;
  }

  /* footer */

  .footer-menu-container {
    flex-direction: column;
    gap: 4rem;
    margin: 1rem 0 1rem 0;
    height: fit-content;
  }

  h4.footer-menu-title {
    font-size: 35px;
    margin-bottom: 4rem;
  }

  .send-email-container {
    margin: 3rem 0 3rem 0;
    max-width: none;
  }

  .social-media-container {
    justify-content: space-between;
  }

  .social-media-icon {
    width: 50px;
    height: 50px;
  }

  .last-footer-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem 2rem 1rem;
    gap: 3rem;
  }

  .last-footer-menu-column {
    width: 100%;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo-body {
    top: 32%;
    left: 47%;
  }

  p.small-text {
    font-size: 20px;
  }

  /* errors */

  .error-msg {
    font-size: large;
  }
}
